@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Grand+Hotel&display=swap');

body {
  margin: 0;
  font-family: 'Crimson Text', serif;
  background-color: #E8F9FD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}